head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    title Шаблон Webpack
    meta(name="description" content="Тут должно быть описание. Оно отображается в поисковых запросах")
    meta(name="keywords" content="Тут должны быть теги (ключевые слова через запятые). При необходимости можно удалить")
    meta(name="title" content="Тут должен быть заголовок. Он отображается в соц сетях")
    link(rel="icon" href=require("../images/favicon.png"))
    meta(name="og:image" content=require("../images/preview.jpg"))
    meta(name="viewport" content="width=device-width, initial-scale=1")