include pug/libs/_libs

doctype html
html(lang='ru')
  include pug/_head
  body
    header
    main
      section
        .cont
          h1 Hello world!
          strong.cont__subtitle
            | Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
          +image('js')
          +image('Webpack')
          .block
          .user
    footer