include pug/libs/_libs

doctype html
html(lang="ru")
    include pug/_head
    body
        include pug/_header
        main.m
            section.sec1 Секция 1
            section.sec2 Секция 2
            section.sec3 Секция 3
        include pug/_footer